@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AstronBase.Domain.Entity.StatusBlank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StatusBlank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Удалить
    </button>
    <button type="button" class="btn btn-secondary">
        <a asp-action="Index">Назад</a>
    </button>

</div>
<div data-bs-toggle="modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удаление фискального регистратора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Удалить статус:

                @Html.DisplayFor(model => model.Name)

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <button type="button" class="btn btn-secondary">
                        <a asp-action="Index">Назад</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
